.header {
  overflow: auto;
  /* since all the elements are floating,
     setting overflow will allow the rest of
     the layout to flow properly */
  background-color: aqua;
}
.header-menu {
  float: right;
  overflow: auto;
  list-style-type: none;
}

.header-menu > li {
  float: left;
  overflow: auto;
  padding-right: 10px; /* whitespace */
}

.container {
  overflow: auto; /* don't forget to adjust the overflow */
  clear: both;
}

.sidebar {
  float: right;
  padding: 10px;
}
